@page
@model MuscleCarRent.Pages.OrderDates.DeleteModel

@{
    ViewData["Title"] = "DeleteAsync";
}

<h1>DeleteAsync</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderedDate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedDate.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderedDate.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedDate.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderedDate.Car.Color)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderedDate.ID" />
        <input type="submit" value="DeleteAsync" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
