@page
@model MuscleCarRent.Pages.Drivers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Driver.IsAvailable" /> @Html.DisplayNameFor(model => model.Driver.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Driver.FirstName" class="control-label"></label>
                <input asp-for="Driver.FirstName" class="form-control" />
                <span asp-validation-for="Driver.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver.LastName" class="control-label"></label>
                <input asp-for="Driver.LastName" class="form-control" />
                <span asp-validation-for="Driver.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver.BirthDate" class="control-label"></label>
                <input asp-for="Driver.BirthDate" class="form-control" />
                <span asp-validation-for="Driver.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
