@model MuscleCarRentProject.Pages.Common.BasePage
@{
    Layout = "_Layout";
    ViewData["Title"] = "DeleteAsync";
}

<h1>@ViewData["Title"]</h1>
<p class="text-danger">@Model.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>@Model.PageTitle</h4>
    <hr />
    <dl class="row">
        @RenderBody()
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Item.ID" />
        <input type="hidden" asp-for="Item.RowVersion" />
        <div class="form-group">
            <input type="submit" value="DeleteAsync" class="btn btn-danger" />
            &nbsp;
            <a asp-page="./Index" asp-route-handler="Index">Back to List</a>
        </div>
    </form>
</div>

