@model MuscleCarRentProject.Pages.Common.BasePage
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>
<h4>@Model.PageTitle</h4>
<hr />

<p class="text-danger">@Model.ErrorMessage</p>

<form enctype="multipart/form-data" id="editForm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.RowVersion" />
    <dl class="row">
        @RenderBody()
    </dl>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<a asp-page="./Index" asp-route-handler="Index">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

