<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <style>
        body {
            background-color: #DCDCDC ;
        }

        header {
            background-color: #A9A9A9 ;
            color: #17252A;
            font-family: Verdana;
            
        }

        p {
            color: #3D3D3D;
            font-family: Verdana;
        }

        a {
            color: #A9A9A9;
            font-family: Verdana;
        }

        form {
            color: bisque;
            font-family: Verdana;
        }

        footer {
            background-color: #A9A9A9;
            font-size: 12px;
            color: slategray;
        }

        label.control-label {
            color: black;
        }

        label.form-check-label{
            color: black;
        }

        table {
            border: 2px solid lightgrey;
        }

    </style>

    <div id="home" class="container-avto">

        <div class="color-nav">
            <header class="col-xs-12">

                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light   ">
                   
                        <img src="~/images/Logo.png" alt="LOGO" width="100" height="100">
                 
                        <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between ">

                            <ul class=" nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-page="/Home">HOME</a><span></span>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link" data-toggle="dropdown" href="#">
                                        MENU
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">PROMOTIONS</a></li>
                                        <li><a href="#">ABOUT US</a></li>
                                        <li><a href="#">GALLERY</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link" data-toggle="dropdown" href="#">
                                        RIDES
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">RENT</a></li>
                                        <li><a href="#">FOTOSET</a></li>
                                        <li><a href="#">FOR RENT</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-page="/Contact">CONTACT</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link " asp-area="" asp-page="/Profile">PROFILE</a>
                                </li>
                                <div class="search-container">
                                    <form action="/action_page.php">
                                        <input type="text" placeholder="" name="search">
                                        <button type="submit"><img src="~/images/Search.png" alt="LOGO" width="25" height="25"></button>
                                    </form>
                                </div>
                            </ul>
                        </div>
                </nav>
                    

            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="col-xs-12 fixed-bottom">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow  ">

                    <div class="navbar-collapse collapse d-lg-inline-flex justify-content-betwee">
                        <ul class="navbar-nav flex-lg-grow-1">
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-page="/AboutUs">ABOUT US</a><span></span>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link " asp-area="" asp-page="/Reviews">REVIEWS</a><span></span>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link " asp-area="" asp-page="/FAQ">FAQ</a><span></span>
                            </li>
                        </ul>
                        <ul class=" nav navbar-nav navbar-right">
                            <li class="nav-item ">
                                <p>Muscle Car Rent</p>
                                <p>Tik Tok 228, Tallinn, Estonia</p>
                                <p>muscleCarRent@taltech.ee</p>
                                &copy; 2021 - MuscleCarRent
                            </li>

                        </ul>
                    </div>
                </nav>

            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)

        </div>
    </div>
</body>
</html>