@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Muscle Car Rent!</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="/CarsAndServices/Index">Cars&Services</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Index">Accounts</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Orders</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Promotions/Index">Promotions</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Images/Index">Images</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/BankCards/Index">Bank Cards</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Drivers/Index">Drivers</a>


</div>
